*{
  color: #e8e8e8;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #323232;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  color: black;
}
.App{
  display: flex;
  flex-direction: column;
}
.navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
}
.navbar a{
  text-decoration: none;
  padding: 7px;
  color: #c4c4c4;
}
.navbar a:hover{
  color: #ffdb3d;
}
.title{
  margin-left: 3em;
  color:#ffdb3d;
}
.links{
  display: flex;
  gap: 20px;
  margin-right: 5em;
}
.content{
  display: flex;
  justify-content: center;
}
.home{
  padding: 20px;
  width: 100%;
  max-width: 900px;
  align-self: center;
}
.intro{
  margin-left: 3em;
}
.flex-column{
  display: flex;
  flex-direction: column;
  column-gap: 0;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
.post-list{
  width: 100%;
}
.post-card{
  margin-left: 3em;
  margin-right: 3em;
  margin-bottom: 2em;
  padding: 1em;
  border: 1px solid grey;
}
.author-heading{
  margin-bottom: 0;
  margin-top: 5px;
}
.author-handle{
  margin: 0;
  color: grey;
}
.author-body-div{
  align-items: center;
  width: 100%;
}
.author-heading-handle{
  margin-left: 1em;
}
.author-image{
  border-radius: 50px;
  width: 64px;
}
.post-title{
  color: #ffdb3d;
}
.post-body{
  margin: 0;
  margin-bottom: 1em;
}
.delete-button{
  background-color: rgb(255, 29, 29);
  border: none;
  border-radius: 5px;
  color:white;
  height: 25px;
  margin-left: auto;
}
.change-name-button{
  height: 50px;
}
.loading-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}
.loading-title{
  margin: 0;
}
.loading-message{
  margin: 0;
  color:#6c6c6c;
}
.loading-error{
  color: red;
}
.create{
  padding: 20px;
  width: 100%;
  max-width: 900px;
  align-self: center;
}
.form-div{
  height: 100%;
}
.form-div input{
  display: block;
  padding: 20px;
  margin: 1em;
  width: 100%;
  height: 30px;
  background-color: #323232;
  border: 1px solid gray;
  border-radius: 5px;
}
.form-div textarea{
  padding: 20px;
  margin: 1em;
  width: 100%;
  height: 30px;
  background-color: #323232;
  border: 1px solid gray;
  resize: none;
  border-radius: 5px;
}
.form-title{
  font-size: 1em;
  color:#ffdb3d;
}
.form-body{
  height: 100px;
  max-lines: 10;
  font-size: 1em;
  
}
